#cont {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#MainPics {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
#decorVid {
  height: 100vh;
  width: 50%;
  background-color: #fcd6d8;
}
#skinVid {
  height: 100vh;
  width: 50%;
  background-color: #fcd6d8;
}
#decorMain {
  width: 100%;
  height: 100vh;
}
#skincareMain {
  width: 100%;
  height: 100vh;
}
#mainLogo {
  position: absolute;
  right: 38%;
  top: 8%;
  width: 20%;
}

@media screen and (max-width: 768px) {
  #decorMain {
    width: 100%;
  }
  #skincareMain {
    width: 100%;
  }
  #mainLogo {
    position: absolute;
    right: 28%;
    top: 45%;
    width: 40%;
  }
}
