#detailModal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#commentsDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
#commentsDetail h3 {
  color: #7f2549;
  font-size: 3rem;
  font-family: "Montserrat";
  margin-top: 5%;
}
#commentsDetail input {
  width: 50%;
  border: 2px solid #7f2549;
  border-radius: 15px;
  margin-bottom: 3%;
  padding: 0.5rem;
}
#commentsDetail button {
  width: 20%;
  height: 30px;
  color: white;
  background-color: #7f2549;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}
#commentsDetail button:hover {
  color: #7f2549;
  background-color: white;
  border: 2px solid #7f2549;
  transition: 0.3s;
}
#detailRight {
  width: 100%;
  height: 400px;

  background-position: center;
  margin-bottom: 2rem;
}
#detailLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
#detailLeft h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #7f2549;
}
#detailLeft p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;

  color: #7f2549;
}

#detailLeft button {
  width: 100%;
  height: 40%;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  background-color: #7f2549;
  font-size: 1.4rem;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 15px;
}
#detailLeft button:hover {
  background-color: transparent;
  color: #7f2549;
  border: 2px solid #7f2549;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  #detailModal {
    height: 100vh;
  }

  #detailRight {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
  }

  #detailLeft {
    width: 50%;
    padding: 3rem;
  }

  #detailLeft h4 {
    font-size: 3em;
    margin-bottom: 3rem;
  }
}
