* {
  margin: 0;
}
.mainPage {
  max-width: 100vw;
  display: flex;
  height: 100vh;
}

.mainLeft {
  width: 50%;
  background-color: #eac6d0;
  display: flex;
  align-items: end;
  justify-content: end;
}
.mainRight {
  width: 50%;
  background-color: #b6daec;
  display: flex;
  align-items: end;
}
.mainImg {
  width: 100%;
  height: 80%;
}
